h1{
	margin: 1em 1em 0 1em;
}

.flipper .ext { 
	perspective: 1000; 
}

.flipper .ext,
.flipper .front,
.flipper .back {	height: 100px; width: 100px; }

.flipper.h .ext:hover .int, 
.flipper.h .ext.hover .int { 
	transform: rotateY(180deg); 
}

.flipper.v .ext:hover .int, 
.flipper.v .ext.hover .int { 
	transform: rotateX(180deg); 
}

.flipper .int { 
	transition: .75s;
	transform-style: preserve-3d;
}

.flipper .front, 
.flipper .back {
	backface-visibility: hidden;
	background: #FFF; 
	border: 1px solid #666; 
	position: absolute; top: 0; left: 0;
}

.flipper .front { 
	z-index: 2; 
}

.flipper.h .back { 
	transform: rotateY(180deg); 
}

.flipper.v .back { 
	transform: rotateX(180deg); 
}

.flipper{
	color:black;
}


.crossfader {
  position:relative;
  margin:0 auto;
}

.crossfader  div.front{
	z-index: 1000;
}
.crossfader  div.back{
	z-index: 999;
}

.crossfader  div.front, .crossfader div.back {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.crossfader div.front:hover {
  opacity:0;
}